<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Album Page</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background: url("/images/ratingcover.png") no-repeat center center fixed;
        background-size: cover;
      }
      .album-cover-container {
        background-color: #7c5c7e;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      .reviews-container {
        background-color: #7c5c7e;
        padding: 20px;
        border-radius: 5px;
      }
      .review {
        margin-bottom: 15px;
        border-bottom: 1px solid #2fca08;
        padding-bottom: 15px;
      }
      .album-cover {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }

      .container {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- Album details -->
        <div class="col-md-4">
          <div class="album-cover-container text-center">
            <img
              src="<%= albumDetails.album_cover %>"
              class="album-cover"
              alt="Album Cover"
            />
            <h5 class="mt-3"><%= albumDetails.album_name %></h5>
            <!-- Format the album publication date -->
            <p>
              Published: <%= new Date(albumDetails.album_date).toDateString() %>
            </p>
          </div>
        </div>
        <!-- Reviews -->
        <div class="col-md-8">
          <div class="reviews-container">
            <h4>Reviews:</h4>
            <% reviews.forEach(function(review) { %>
            <div class="review">
              <!-- Format the review date -->
              <p>
                <strong><%= review.user_username %></strong> - <%= new
                Date(review.Rating_date).toDateString() %>
              </p>
              <p>
                <strong><%= review.Rating_title %>:</strong> <%=
                review.Rating_body %>
              </p>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
